<html>
    <head>
        <title>Dose Net</title>
    </head>

    <body>

        <script type="text/javascript" src="./application.min.js"></script>
        <script type="text/javascript" src="./modernizer.min.js"></script>
    </body>
</html>
