<html>
    <head>
        <title>Dose Net</title>
    </head>

    <body>
        What's this?

        <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
        <script>
          var socket = io.connect('http://localhost:8080');
          socket.on('news', function (data) {
            console.log(data);
            socket.emit('my other event', {
                my: 'data'
            });
          });
        </script>
    </body>
</html>
